html {
    scroll-padding-top: 70px;   
}

#cronograma td {
    color: white;
}

#cronograma th {
    color: white;
    padding: 10px;
}

#cronograma .d-flex {
    overflow-x: auto; 
    scroll-snap-type: x mandatory;
}

#cronograma .card {
    width: 80%; 
    height: auto; 
    transition: all 0.3s; 
    flex-shrink: 0;
    scroll-snap-align: center;
}

@media (hover: hover) {
    #cronograma .card:hover {
        transform: scale(1.15);
    }
}

@media (min-width: 768px) {
    #cronograma .d-flex {
        scroll-snap-type: none;
        overflow-x: visible;
    }

    #cronograma .card {
        width: 33%; 
        height: 35rem;
    }
        
}


.card-media {
    position: relative;
    z-index: 2;
}

.card-stage {
    position: relative;
    z-index: 1;
    margin-top: -3rem;
    border-radius: 40% 40% 0 0 / 8rem 8rem 0 0;
    padding-top: 4rem;
}

.bg-tortuga {
    background-color: #8BC34A;
}

.bg-jaivas{
    background-color: rgb(110 137 145);
}

.bg-tommy-rey{
    background-color: rgb(139 71 36);
}